NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_SEO_URL=
NEXT_PUBLIC_APPLY_NOW=
# Must be reCAPTCHA v2 "I'm not a robot" checkbox key from Google Admin
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=

# .env.development
NEXT_PUBLIC_REVALIDATE=

# .env.production  
NEXT_PUBLIC_REVALIDATE=