@import "tailwindcss"; @theme { --font-tasa: "TASA Orbiter", sans-serif; }
/* .strech_link { position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 9; }
.has-html .fancybox__content { padding:0; }
.gallery_tab span.active { background-color: var(--color-64); color:#fff; }
.gallery_tab .resetBtn { background: #ddd; margin-right: 0.1rem; font: var(--font-16); color: var(--color-black); border: 1px solid #e1e1e1; align-items: center; gap: 1rem; padding-inline: 2rem; display: flex; height: 100%; }
.about_menu_bar { position:sticky; top:0; z-index: 99; }
.about_menu_bar .bottom_menus { background:#fff; }
.swiper-button-next.swiper-button-lock,
.swiper-button-prev.swiper-button-lock { display:none!important; }
*/
* { padding: 0; margin: 0; box-sizing: border-box; }
.text-danger { color: red; font: var(--font-12); }
.error { color: red; font: var(--font-12); }
:root { --color-92: #926b29; --color-AE: #ae7f2c; --color-64: #643c24; --color-89: #895737; --color-white: #ffffff; --color-black: #000000; --color-33: #333333; --color-F4: #f4f7f4; --color-F5: #F5F5F5; --color-D2: #d2ab67; --color-0D: #0000004d; --color-03: #000000b3; --color-FF: #ffb443; --color-C0: #c08552; --color-1D: #1d1d1d; --color-FE: #fece49; --color-F5: #f5f5f5; --color-70: #707070; --color-dc: #DC0000; --color-fa:#fafafa; --color-ed:#EDE9E7; --color-f3:#F3E9DC; --color-C00:#C0855280; --mx2545: 2545px; --font-tasa: "TASA Orbiter", sans-serif; --font-93: normal normal 500 9.3rem/1.2 var(--font-tasa); --font-60: normal normal 500 6rem/1.2 var(--font-tasa); --font-48: normal normal 500 4.8rem/1.25 var(--font-tasa); --font-42: normal normal 500 4.2rem/1.25 var(--font-tasa); --font-36: normal normal 3.6rem/1.33 var(--font-tasa); --font-33: normal normal 500 3.3rem/1.33 var(--font-tasa); --font-32: normal normal 300 3.2rem/1.35 var(--font-tasa); --font-30: normal normal 400 3rem/1.2 var(--font-tasa); --font-28: normal normal 500 2.8rem/1.07 var(--font-tasa); --font-24: normal normal 300 2.4rem/1.25 var(--font-tasa); --font-21: normal normal 300 2.1rem/1.42 var(--font-tasa); --font-20: normal normal 300 2rem/1.4 var(--font-tasa); --font-18: normal normal 300 1.8rem/1.33 var(--font-tasa); --font-17: normal normal 300 1.7rem/2.1 var(--font-tasa); --font-16: normal normal 400 1.6rem/1.62 var(--font-tasa); --font-14: normal normal 400 1.4rem/1.28 var(--font-tasa); --font-12: normal normal 400 1.2rem/1.75 var(--font-tasa); --font-10: normal normal 300 1rem/1.8 var(--font-tasa); --font-8: normal normal 300 0.8/1 var(--font-tasa); --font-bold: bold; --font-medium: 500; --font-normal: 400; --font-300: 300; }
.container25 { max-width: min(1225px, 63.8020833vw); padding-inline: 1.5rem; margin: 0 auto; }
.container55 { max-width: clamp(var(--container55-min), var(--container55-ideal), var(--container55-max)); padding-inline: 1.5rem; margin: 0 auto; }
.container-full { width: 100%; padding-left: 1.5rem; padding-right: 1.5rem; }
.container-fluid { max-width: min(1755px, 91.40625vw); padding-left: 1.5rem; padding-right: 1.5rem; margin-left: auto; margin-right: auto; }
.container { width:min(1800px, 93.75vw); container-type: inline-size; margin-left: auto; margin-right: auto; padding-inline: 1rem; }
.inner-box { width: clamp(900px, 48.1vw, 1224px); margin: auto; }
.inner-container { width: clamp(900px, 76.8229vw, 1475px); padding-inline: 1.5rem; }
/* 1885px */
.container-md { max-width: min(1885px, 82vw); padding-left: 1.5rem; padding-right: 1.5rem; margin-left: auto; margin-right: auto; }
.container-lg { width: min(100%, 2005px); padding-left: 1.5rem; padding-right: 1.5rem; margin:0 auto; }
.full-width { max-width: 2545px; margin-inline: auto; }
/* Use 2545 full container size */
html { font-size: min(0.52083333vw, 10px); }
ul li { list-style: none; }
a { text-decoration: none; }
@media (max-width: 991px) {
 .container-fluid { max-width: 100%; }
.container { max-width: 670px; }
html { font-size: clamp(6px, 0.520833333vw, 10px); }
 }
@media (max-width: 767px) {
 :root { --font-60: normal normal 500 2.6rem/1.15 var(--font-tasa); --font-48: normal normal 500 2.6rem/1.25 var(--font-tasa); --font-42: normal normal 500 2.8rem/1.25 var(--font-tasa); --font-36: normal normal bold 2.6rem/1.15 var(--font-tasa); --font-33: normal normal 500 2.4rem/1.33 var(--font-tasa); --font-32: normal normal 300 2.2rem/1.35 var(--font-tasa); --font-30: normal normal 400 2rem/1.2 var(--font-tasa); --font-28: normal normal 500 1.9rem/1.07 var(--font-tasa); --font-24: normal normal 300 1.8rem/1.33 var(--font-tasa); --font-21: normal normal 300 1.6rem/1.62 var(--font-tasa); --font-20: normal normal 300 1.4rem/1.4 var(--font-tasa); --font-18: normal normal 300 1.2rem/0.88 var(--font-tasa); --font-16: normal normal 400 1.2rem/1.62 var(--font-segoe); --font-14: normal normal 400 1rem/1.4 var(--font-segoe); --font-12: normal normal 400 1rem/1.16 var(--font-tasa); --font-10: normal normal 300 1rem/1.8 var(--font-segoe); --font-8: normal normal 300 0.8/1 var(--font-tasa); }
html { font-size: 62.5%; }
.container-fluid { max-width: 100%; padding-inline: 1.6rem; }
.container { max-width: 100%; padding-inline: 1.6rem; }
.container25 { max-width: 100%; padding-inline: 1.6rem; }
 }
@media (max-width: 330px) {
 html { font-size: 50.5%; }
 }
::after,
::before { box-sizing: border-box; }
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video { display: block; max-width: 100%; /* width: 100%; */ }
body { margin: 0; -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: transparent; background-color: var(--color-f8); scroll-behavior: unset !important; }
p, span { margin-bottom: 0; color: #333; }
ul { padding:0; margin:0; }
li { font: var(--font-16); font-weight: normal; }
li:last-child { margin-bottom: 0; }
@media (max-width: 1549px) {
 p { margin-bottom: 2rem; }
 }
p:empty { display: none !important; }
a { text-decoration: none; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; }
a:not([href=""]):not([href]):not([href="#"]) { cursor: pointer; }
figure { margin-bottom: 0; }
.site_main { position: relative; padding-top: var(--header-padding); background-color: var(--color-f8); }
blockquote { font: var(--font-24); color: var(--color-b2); margin: 0; }
p { font: var(--font-16); margin-bottom: 2rem; }
p:last-child { margin-bottom: 0; }
h1 { font: var(--font-36); }
h2 { font: var(--font-60); color: var(--color-77); }
h3 { font: var(--font-36); color: var(--color-black); }
h4 { font: var(--font-24); color: var(--color-black); }
h5 { font: var(--font-21); color: var(--color-black); }
h6 { font: var(--font-18); color: var(--color-black); }
.title60 { font: var(--font-60); color: var(--color-0b); }
.title48 { font: var(--font-48); color: var(--color-0b); }
.title42 { font: var(--font-42); letter-spacing: 0.084rem; color: var(--color-black); }
.title32 { font: var(--font-32); font-weight: 300; color: var(--color-black); }
.title36 { font: var(--font-36); }
.title30 { font-size: 3em; line-height: 4.2rem; color: var(--color-33); text-align: left; font-family: var(--font-tasa); }
.title28 { font: var(--font-28); font-weight: 500; color: var(--color-black); }
.title24 { font-size: 2.4rem; line-height: 2.6rem; font-weight: bold; color: var(--color-64); font-family: var(--font-tasa); }
.title18 { font: var(--font-18); font-family: var(--font-tasa); font-weight: bold; color: var(--color-black); }
.font24 { font-size: 2.4rem; line-height: 2.6rem; font-weight: bold; color: var(--color-64); font-family: var(--font-tasa); }
.font36 { color: var(--color-92); font: var(--font-36); letter-spacing: -0.18rem; font-weight: 400; }
blockquote.title24 { line-height: 1.5; font-weight: 300; letter-spacing: 0.048rem; }
.paragraph { font:var(--font-16); line-height: 2.4rem; color: var(--color-33); font-weight: normal; font-family: var(--font-tasa); }
::-webkit-scrollbar { width: 0.5rem; }
::-webkit-scrollbar-thumb { background-color: var(--color-0b); border-radius: 0.2rem; }
::-webkit-scrollbar-track { background-color: var(--color-white); border-radius: 0.2rem; }
.w-100 { width: 100%; }
.strech_link { position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 9; }
.custom_bullet li { position: relative; padding-left: 2rem; margin-block: 1.5rem; }
.custom_bullet li:last-child { margin-bottom: 0; }
.custom_bullet li::before { width: 0.6rem; height: 0.6rem; background-color: var(--color-D2); position: absolute; left: 0; top: 1rem; content: ""; border-radius: 1rem; }
/* override tailwind css */
.title60 { font: var(--font-60); color: var(--color-0b); }
.title48 { font: var(--font-48); color: var(--color-0b); }
.title42 { font: var(--font-42); letter-spacing: 0.084rem; color: var(--color-black); }
.title32 { font: var(--font-32); font-weight: 300; color: var(--color-black); }
.title36 { font: var(--font-36); }
.title30 { font-size: 3em; line-height: 4.2rem; color: var(--color-33); text-align: left; font-family: var(--font-tasa); }
.title28 { font: var(--font-28); font-weight: 500; color: var(--color-black); }
.title24 { font-size: 2.4rem; line-height: 2.6rem; font-weight: bold; color: var(--color-64); font-family: var(--font-tasa); }
.title18 { font: var(--font-18); font-family: var(--font-tasa); font-weight: bold; color: var(--color-black); }
.font24 { font-size: 2.4rem; line-height: 2.6rem; font-weight: bold; color: var(--color-64); font-family: var(--font-tasa); }
.font36 { color: var(--color-92); font: var(--font-36); letter-spacing: -0.18rem; font-weight: 400; }
blockquote.title24 { line-height: 1.5; font-weight: 300; letter-spacing: 0.048rem; }
.paragraph { font:var(--font-16); line-height: 2.4rem; color: var(--color-33); font-weight: normal; font-family: var(--font-tasa); }
::-webkit-scrollbar { width: 0.5rem; }
::-webkit-scrollbar-thumb { background-color: var(--color-0b); border-radius: 0.2rem; }
::-webkit-scrollbar-track { background-color: var(--color-white); border-radius: 0.2rem; }
.w-100 { width: 100%; }
.strech_link { position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 9; }
.custom_bullet li { position: relative; padding-left: 2rem; margin-block: 1.5rem; }
.custom_bullet li:last-child { margin-bottom: 0; }
.custom_bullet li::before { width: 0.6rem; height: 0.6rem; background-color: var(--color-D2); position: absolute; left: 0; top: 1rem; content: ""; border-radius: 1rem; }
/* override tailwind container responsive */
  @media (min-width: 40rem) {
 .container { max-width: unset; }
 }
@media (min-width: 64rem) {
 .container { max-width: unset; }
 }
@media (min-width: 80rem) {
 .container { max-width: unset; }
 }
@media (min-width: 96rem) {
 .container { max-width: unset; }
 }
