
@media (min-width:1921px) {
    .site_brand .navbar-brand {
      width: 42.5rem;
    }

    .home_research_section .research_group::before{padding-bottom: 95.6rem;}
    .home_research_section .research_group::after{height: 95.6rem;}
  }